<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Datalist</title>
    <style>




    </style>
</head>
<body>
<label for="fruits">Choose a fruit:</label>
<input list="category" id="id-category">
<datalist id="category">
    <option value="Apple">
    <option value="Banana">
    <option value="Cherry">
    <option value="Durian">
    <option value="Elderberry">
    <option value="Fig">
    <option value="Grape">
    <option value="Honeydew">
</datalist>

<script>

</script>
</body>
</html>